<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Registrar's Office Class Search</title>
    </head>
    <body>
        {% include 'header.html' %}
        <style>
            table.results {
                border: 1px solid black;
            }
            .results td {
                border: 1px solid black;
            }
        </style>

        <!-- Search form -->
        <form action="/index" method="get">
        <table>
            <tbody>
                <tr>
                   <td align="right">Dept:</td> 
                   <td><input type="text" name="dept" value="{{ prev_dept }}" autofocus></td>
                </tr>
                <tr>
                    <td align="right">Number:</td>
                    <td><input type="text" name="coursenum" value="{{ prev_num }}" autofocus></td>
                </tr>
                <tr>
                    <td align="right">Area:</td>
                    <td><input type="text" name="area" value="{{ prev_area }}" autofocus></td>
                </tr>
                <tr>
                    <td align="right">Title:</td>
                    <td><input type="text" name="title" value="{{ prev_title }}" autofocus></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Go"></td>
                </tr>
            </tbody>
        </table>  
        </form>
        <hr>
        <!-- Search results -->
        <table class="results">
            <thead>
               <tr>
                <td><strong>ClassId</strong></td>
                <td><strong>Dept</strong></td>
                <td><strong>Num</strong></td>
                <td><strong>Area</strong></td>
                <td><strong>Title</strong></td>
               </tr> 
            </thead>
            <tbody>
                {% for row in table %}
                <tr>
                    <td><a href="/regdetails/{{ row['classid'] }}">{{ row['classid'] }}</a></td>
                    <td>{{ row['dept'] }}</td>
                    <td>{{ row['coursenum'] }}</td>
                    <td>{{ row['area'] }}</td>
                    <td>{{ row['title'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {% include 'footer.html' %}
    </body>
</html>
