<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Registrar's Office Class Search</title>
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'searchform.html' %}

        <strong>ClassId</strong> <strong>Dept</strong> <strong>Num</strong> <strong>Area</strong> <strong>Title</strong>
        <br>

        {% for row in table %}
        <a href="/regdetails/{{ row['classid'] }}">{{ row['classid'] }}</a> {{ row['dept'] }} {{ row['coursenum'] }} {{ row['area'] }} {{ row['title'] }}
        <br>
        {% endfor %}
    
        {% include 'footer.html' %}
    </body>
</html>
